body{
    background-color: #1f2937;
}
.flex-container{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid red;
    margin: 50px;
}

.intro{
    font: bold 100px;
    color: #F9faf8;
    border: 1px solid pink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.intro-text{
    margin-left: 50px;
    font-size: 48px;
    font-weight: bolder;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.intro-img{
    margin: 50px;
    background-color: darkgrey;
    width: 1000px;
    height: 300px;
}

button{
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    text-align: center;
    padding: 3px 10px;
}

.random{
    border: 1px solid yellow;
    background-color: white;
}

.quote{
    border: 1px solid green;
}
.call{
    border: 1px solid purple;
}